body {
  font-family: 'Inter', sans-serif;
  background: #ffffff;
}

.bg-nav {
  background-color: #d42727 !important;
}

.mt--2 {
  margin-top: -0.5rem !important;
}

.hr-dotted {
  border-top: 1px dotted;
  opacity: .25;
}
.nav {
  font-family: 'Inter', sans-serif;
  color: #eb2d2d;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffff !important;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.4s;
}

.text-body {
  color: rgb(0, 0, 0) !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: red !important;
}

.dropdown{
  position: relative;
  display: inline-block;
}

/*Main Content */

.feature-icon-1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: #fff;
  border-radius: 100%;
}


/* Footer */
.footer .copyright a {
  color: #ee5050;
  text-decoration: none;
}

.footer .copyright a:hover {
  color: #eb2d2d;
}

.footer .link a {
  color: #212529;
  text-decoration: none;
}

.footer .link a:hover {
  color: #0d6efd;
}
