body {
  font-family: Raleway, sans-serif;
  background: #ffffff;
}

.bg-nav {
  background-color: #bb2c2c;
}

.mt--2 {
  margin-top: -0.5rem !important;
}

.navbar-brand-text {
    color: #fff !important;
}

.main-content {
  background-color: black;
  padding: 60px;
}

.hr-dotted {
  border-top: 1px dotted;
  opacity: .25;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.4s;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #000000 !important;
}

.about{
  padding: 60px;
}

.feature-icon-1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: #fff;
  border-radius: 100%;
}

.btn-social-media {
  color: #31316a;
  background-color: #cdcfdf;
  border-color: #cdcfdf;
  width: 2rem;
  height: 2rem;
  padding: 1.2rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.btn-social-media:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.product-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        }

/* Footer */
.footer {
  background-color: #bb2c2c;
  padding: 2rem 0;
}

.footer .copyright a {
  color: #ee5050;
  text-decoration: none;
}

.footer .copyright a:hover {
  color: #eb2d2d;
}

.footer .link a {
  color: #212529;
  text-decoration: none;
}

.footer .link a:hover {
  color: #0d6efd;
}
.pilih-tipe {
  padding: 40px 0;
  background-color: #f8f9fa;
  text-align: center;
}
.pilih-tipe .tombol-type {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #bb2c2c;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.pilih-tipe .tombol-type:hover {
  background-color: #a02626;
}